pipeline/Ingestion.json
{
	"name": "Ingestion",
	"properties": {
		"activities": [
			{
				"name": "Copy data- From SQL SERVER to Datalake GEN2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup- current Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup- max watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from \n@{pipeline().parameters.schema}.@{pipeline().parameters.table}\nWHERE @{pipeline().parameters.incremental_column} > CAST('@{activity('Lookup- current Watermark').output.firstRow.LastWatermark}' AS DATETIME2)\nand @{pipeline().parameters.incremental_column} <= \nCAST('@{activity('Lookup- max watermark').output.firstRow.max_watermark}' AS DATETIME2)\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dataset_AzureSql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dataset_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"folder": {
								"value": "@{pipeline().parameters.table}",
								"type": "Expression"
							},
							"file": {
								"value": "@concat(pipeline().parameters.table, '_', variables('RunTimestamp') )",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup- current Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT LastWatermark\nFROM WatermarkTable\nWHERE PipelineName = '@{pipeline().Pipeline}'\nand TableName = '@{pipeline().parameters.table}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dataset_AzureSql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup- max watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select Max(@{pipeline().parameters.incremental_column}) as max_watermark\nfrom @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dataset_AzureSql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy data- From SQL SERVER to Datalake GEN2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Copy data- From SQL SERVER to Datalake GEN2').output.dataRead, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Delete- Empty File",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "dataset_Parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.container",
											"type": "Expression"
										},
										"folder": {
											"value": "@pipeline().parameters.table",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(pipeline().parameters.table, '_', variables('RunTimestamp'))",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Script- update latest watermark",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "linkedService_Azure_SQL",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "update @{pipeline().parameters.schema}.WatermarkTable\nSet LastWatermark = CAST('@{utcNow()}' AS DATETIME2)\nwhere PipelineName = '@{pipeline().Pipeline}'\nand TableName = '@{pipeline().parameters.table}'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunTimestamp",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Completion Alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-17.southindia.logic.azure.com:443/workflows/a88e647fdfba45989e3867629574d816/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=EHQpl0VemdM_4GxJL9YRNg61zETm9DNsBIwcE-_Btr4",
					"body": {
						"value": "{\n    \"pipeline_name\": \"@{pipeline().Pipeline}\" ,\n    \"pipeline_runid\": \"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string"
			},
			"table": {
				"type": "string"
			},
			"incremental_column": {
				"type": "string"
			},
			"container": {
				"type": "string"
			}
		},
		"variables": {
			"RunTimestamp": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-02T19:42:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}